/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 16px;
    background-color: #7fdff9;
}

.wrap {
    height: 100%;
    width: 100%;
    padding: 2.5%;
    box-sizing: border-box;
}

.logo-page {
    background: url(hamburger.png) no-repeat center center;
    height: 70%;
    float: top;
    width: 100%;
}

#map-container {
    height: 95%;
    width: 80%;
    float: right;
    float: bottom;
    padding-top: 1%;
}

#map {
    height: 100%;
    width: 100%;
    background: transparent url(loading.gif) no-repeat center center;
    border: 2px;
    border-radius: 4px;
    border-color: #F6C847;
    border-style: solid;

}

#top-panel {
    float: top;
    float: right;
    height: 5%;
    width: 80%;
    background: #7fdff9;
    text-align: center;
}

#left-panel-canvas {
    height: 100%;
    width: 19%;
    float: left;
    background: transparent url(loading.gif) no-repeat center center;
}

#left-panel {
    height: 100%;
    width: 100%%;
    float: bottom;
    text-align: center;
}

#small-logo {
    height: 20%;
    display: block;
    margin: auto;
    padding-bottom: 8px;
}

h3 {
    margin-top: 0;
    font-family: 'Roboto';
}

#results-list {
    height: 75%;
    overflow-y: scroll;
    float: bottom;
}

.unhungry {
    cursor: pointer;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

label input {
    float: left;
    font-size: 10px;
}

.list-venue {
    height: 80px;
    width: 70%;
    cursor: pointer;
    background: #F6C847;
    padding: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    border: 2px solid;
    border-color: #c49208;
    border-radius: 4px;
}

.list-venue:hover {
    border-color: white;
}

.selected {
    border-color: black;
}

li {
    list-style-type: none;
}

input[type=number],
select {
    height: 25px;
    width: 80px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #F6C847;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}

input[type=checkbox] {
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #F6C847;

}

input[type=submit],
#find-food {
    font-size: 18px;
    background-color: #25C38E;
    border: 1px solid #F6C847;
    color: white;
    padding: 2px 10px;
    margin-top: 2px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, #find-food:hover {
    color: black;
    border-color: black;
}

input:hover {
    border: 1px solid white;
}

#home-div {
    text-align: center;
    width: 100%;
    padding-top: 32%;
}

.control-UI {
    background-color: #25C38E;
    border: 2px solid #F6C847;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-bottom: 22px;
    text-align: center;
    padding: 5px;
}

.control-text {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    line-height=38px;
}

.control-text:hover {
    color: black;
}
